@import '../node_modules/ag-grid-community/src/styles/ag-grid.scss';
@import '../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss';

$primary-50: #dceefb;
$primary-100: #b6e0fe;
$primary-200: #84c5f4;
$primary-300: #62b0e8;
$primary-400: #4098d7;
$primary-500: #2680c2;
$primary-600: #186faf;
$primary-700: #0f609b;
$primary-800: #0a558c;
$primary-900: #003e6b;

$neutral-50: #f0f4f8;
$neutral-100: #d9e2ec;
$neutral-200: #bcccdc;
$neutral-300: #9fb3c8;
$neutral-400: #829ab1;
$neutral-500: #627d98;
$neutral-600: #486581;
$neutral-700: #334e68;
$neutral-800: #243b53;
$neutral-900: #102a43;

$text-default: $neutral-900;
$text-muted: $neutral-600;

.ag-theme-alpine {
  @include ag-theme-alpine(
    (
      // Grid
      font-family: ("Inter", sans-serif),
      foreground-color: $text-default,
      borders: false,
      borders-critical: true,
      border-color: $neutral-300,

      // Header
      header-background-color: $neutral-100,
      header-foreground-color: $text-muted,

      // Rows
      row-border-color: $neutral-100,
      odd-row-background-color: $neutral-50
    )
  );

  .ag-header-row {
    font-weight: 500;
  }

  .ag-row-selected {
    background-color: $primary-100;
  }
}

.ag-react-container {
  height: 100%;
}
